# Core dependencies
flask
flask-cors
chromadb
sentence-transformers
requests
scrapy
certifi
tqdm
numpy
gunicorn
scikit-learn
pymongo
beautifulsoup4
hf_xet
python-dotenv



transformers>=5.0.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
