# Core dependencies
flask
flask-cors
chromadb
sentence-transformers
requests
scrapy
certifi
tqdm
numpy
gunicorn
scikit-learn
pymongo
beautifulsoup4
hf_xet
python-dotenv



protobuf>=6.33.5 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
