# Core dependencies
flask
flask-cors
chromadb
sentence-transformers
requests
scrapy
certifi
tqdm
numpy
gunicorn
scikit-learn
pymongo
beautifulsoup4
hf_xet
python-dotenv



torch>=2.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
